.dropbtn {
  color: #000;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.dropbtn span{
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  z-index: 1000;
}

.dropdown.disabled {
  background: #57575717;
  cursor: not-allowed;
}
.dropdown.disabled * {
  color: #333;
}
.dropbtn img {
  margin-right: 1rem;
  width: 16px;
  height: 16px;
  z-index: 1000;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 0.5rem;
  overflow-x: hidden;
  padding-left: 10px;
}

.dropdown-content {
  display: none;
  background-color: transparent;
  padding: 16px;
  max-height: 200px;
  overflow-y: scroll;
}
.dropdown-content::-webkit-scrollbar {
  background: transparent;
  width: 3px;
}
.dropdown-content::-webkit-scrollbar-thumb {
  background: #dddd;
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  scrollbar-width: thin;
}

.show {
  display: block;
}
.dropdown_item {
  width: 100%;
  padding: 0 0 10px 0px;
}
