.dashboard__container {
  height: 100vh;
}
.home__container {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
/* .home_sidebar {
  background-color: #f7f3ff;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 50px 30px;
  overflow-y: scroll;
}
.home_sidebar::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}
.home_sidebar::-webkit-scrollbar-thumb {
  width: 100%;
  background: #dddddd;
  border-radius: 5px;
} */

.home_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 40px;
  width: 100%;
  height: 100%;
}
.home_content .home_content-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 2rem 0;
}
.home_content .home_content-header .dataset_amount_container {
  width: 200px;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home_content .home_content-header .dataset_amount_container h5 {
  font-size: 22px;
  color: #c130b0;
  font-weight: bold;
  margin: 0;
}

.home_content .home_content-header .search_container {
  width: 230px;
  position: relative;
  height: 35px;
}
.home_content .home_content-header .search_container input {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  padding: 10px 25px;
  outline: none;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  z-index: 4;
}
.home_content .home_content-header .search_container .search-icon__container {
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 5;
  width: 25px;
  height: 30px;
  padding-left: 7px;
  border-left: 1px solid #cccccc;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_content
  .home_content-header
  .search_container
  .search-icon__container
  img {
  width: 100%;
  height: 100%;
}

.datasets__container {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  grid-gap: 15px;
  grid-row-gap: 15px;
  overflow-y: scroll;
  padding-right: 0.3rem;
}

.datasets__container::-webkit-scrollbar {
  background: transparent;
  width: 3px;
}
.datasets__container::-webkit-scrollbar-thumb {
  width: 100%;
  background: #dddddd;
  border-radius: 5px;
}

.home_content .home_content-header .upload__container button {
  display: block;
  width: 120px;
  height: 30px;
  background: #00b594;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  border: none;
  color: #fff;
  transition: all 0.3s ease;
  margin-left: 600px;
}
.home_content .home_content-header .upload__container button:hover {
  background: #4bdac0f1;
}
.home_content .home_content-header .upload__container input {
  display: none;
}
.analysisBtn__container {
  border-top: 1px solid #CCCCCC;
  width: 100%;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.analysisBtn__container button {
  border-radius: 25px;
  outline: none;
  border: none;
  width: 180px;
  height: 40px;
  cursor: pointer;
  color: #fff;
}

.prepareDatasetBtn {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-width: 3px !important;
  cursor: pointer;
}
.prepareDatasetBtn img {
  margin-bottom: 0.5rem;
}
.prepareDatasetBtn span {
  font-size: 16px;
  color: #b9b9b9;
}

.datasets__container > div {
  width: 280px;
  height: 290px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}
.dataset-box__container.selected {
  box-shadow: 1px 1px 5px #c130b0, -1px -1px 5px #c130b0;
}
.dataset-box__container > img {
  width: 100%;
}
.dataset-box_content {
  padding: 20px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dataset-box_content > img {
  width: 20px;
  height: 20px;
}
.dataset-box_content .title {
  width: 65%;
}
.dataset-box_content .title > a {
  font-weight: bolder;
  font-size: 16px;
}
.dataset-box_content .title > a > h5 {
  font-weight: bolder;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dataset-box_content .title > span {
  font-size: 14px;
}

.ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #c130b0 !important;
  border-color: #c130b0 !important;
}
