.modal__container {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e64;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__container .modal {
  width: 40%;
  min-height: 50%;
  background: #fff;
  border-radius: 14px;
  box-shadow: 1px 1px 10px #0000009f;
}
.modal__container .modal .modal__header {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal__container .modal .modal__header span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.modal__container .modal .modal__header button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #000;
  font-weight: bold;
  font-size: 18px;
}
.modal__container .modal .modal__body {
  padding: 10px 15px;
}
.modal__container .modal .modal__body > p {
  width: 100%;
}
.modal__container .modal .modal__body .link__container {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
}
.modal__container .modal .modal__body .link__container input {
  width: 70%;
  margin-right: 0.5rem;
  height: 100%;
  padding: 0 0.5rem;
  border-radius: 6px;
  outline: none;
  border: 1px solid #555555;
}
.modal__container .modal .modal__body .link__container button {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  background-color: #6034b6;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.modal__container .modal .modal__body .link__container button:hover {
  background-color: #7850c9;
}
.modal__container .modal .modal__body .link__container button img {
  width: 20px;
  height: 20px;
  margin-left: 0.5rergb (121, 81, 203);
}
.modal__container .modal .modal__body .link__container button span {
  color: #fff;
}
