.table {
  display: inline-block;
  border-spacing: 0;
}

.tableHeader{
  position: sticky;
  top: 0;
  z-index: 100;
}

.tr {
  width: 100%;
  /* border-left: 1px solid black; */
}
.tr .th,
.tr .td {
  text-align: left;
  height: 3em !important;
  padding: 10px 13px;
  font-family: "Montserrat";
  margin: 0;
  background: #eaedee;
  color: #000;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: nowrap;
}
.tr .td:hover {
  display: flex !important;
  padding: 5px !important;
  font-family: "Montserrat";
  font-weight: bold;
  background: #eaedee;
  color: #000;
  z-index: 100;
  height:fit-content !important;
  text-align: left;
  align-items: center;
  /* transform: scale(1.2); */
  overflow: hidden;
  word-wrap: break-word !important;
}
.tr .th,
.tr .td::-webkit-scrollbar {
  display: none;
}


.tr .th {
  background: #eaedee;
  color: #000;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  height: 35px;
}
.tr .th:hover {
  display: flex !important;
  padding: 5px !important;
  font-family: "Montserrat";
  font-weight: bold;
  background: #eaedee;
  color: #000;
  z-index: 100;
  height:fit-content !important;
  min-height: 45px;
  text-align: left;
  align-items: center;
  /* transform: scale(1.2); */
  overflow: hidden;
  word-wrap: break-word !important;
}
.tr .td {
  font-weight: 400;
  background: #fff;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}
.tr .td.null {
  color: #888888;
}

.tr .td:not(.tr .td:first-child) {
  /* border-left: 1px solid rgba(0, 0, 0, 0.1); */
}

div[role="columnheader"] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}