.dataset_page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: calc(100vh - 75px);
}
.table__container {
  width: 100%;
  height: 35%;
  padding: 0 0 3rem;
  background: #faf8ff;
  overflow-y: scroll;
  overflow-x: scroll;
  /* display: flex; */
  justify-content: center;
}
.table__container table { border-collapse:collapse }
.table__container thead {
  position: sticky;
  top: 0;
}

.table__container td, th {
  border:none;
}
.table__container > .error,
.table__container > .message {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  font-weight: bold;
  color: #333;
}
.table__container > .error {
  color: #df3636;
}
.table__container table {
  width: 100%;
}
.dataset__container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 65%;
  position: relative;
  overflow: hidden;
  background: #faf8ff;
}

.dataset__sidebar__container.left {
  background: #faf8ff;
  width: 25%;
  padding: 30px 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.dataset__sidebar__container.left .back-link__container {
  width: 100%;
  padding: 0 0 40px 0;
}
.dataset__sidebar__container.left .back-link__container a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.dataset__sidebar__container.left .back-link__container a img {
  margin-right: 0.5rem;
  width: 22px;
  height: 22px;
}
.dataset__sidebar__container.left .back-link__container a span {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.dataset__sidebar__container.left .tables__container {
  padding-bottom: 30px;
}
.dataset__sidebar__container.left .tables__container .tables-title__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}
.dataset__sidebar__container.left
  .tables__container
  .tables-title__container
  > button {
  background-color: #c53bb5;
  border-radius: 12px;
  padding: 5px 15px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  /* width: 85px; */
}
.dataset__sidebar__container.left .tables__container .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataset__sidebar__container.left .tables__container .title img {
  margin-right: 0.5rem;
}
.dataset__sidebar__container.left .tables__container .title span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.dropdown .dropdownOption__Content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  padding: 16px 0 0 0;
}
.dataset__sidebar__container.right .selectedColumns__container > div {
  padding: 12px 25px;
}

.selectedColumns__container .dropdownOption__Content .title-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selectedColumns__container .dropdownOption__Content .title-content > button {
  width: 40%;
  display: flex;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  color: #000;
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.selectedColumns__container
  .dropdownOption__Content
  .title-content
  > button
  img {
  width: 20px;
  height: 20px;
  margin-right: 0.2rem;
}
.dataset__sidebar__container.right .dropdownOption__Content .title-content h3 {
  font-weight: bold;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dataset__sidebar__container.right .dropdownOption__Content > span {
  font-size: 13px;
  color: #838383;
  display: block;
  padding-bottom: 0.5rem;
  cursor: pointer;
  z-index: 1000;
}
.dataset__sidebar__container.right .dropdownOption__Content .dropdown {
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.dataset__sidebar__container.left .dropdown .dropbtn {
  width: 85% !important;
}
.dataset__sidebar__container.right
  .dropdownOption__Content
  .dropdown
  .dropbtn
  > span {
  font-size: 14px;
}
.dataset__sidebar__container.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}
.dataset__sidebar__container.footer > h5 {
  color: #bc49b4;
  font-weight: bold;
}
.dataset__sidebar__container.footer .saveBtn {
  background: #00b594;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 5px 25px;
  color: #fff;
  width: 50%;
  text-align: center;
  cursor: pointer;
}

.dataset__sidebar__container.left .models__container {
  padding-bottom: 30px;
}
.dataset__sidebar__container.left .models__container .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}
.dataset__sidebar__container.left .models__container .title div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataset__sidebar__container.left .models__container .title div img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 18px;
  height: 17px;
  margin-right: 0.5rem;
}
.dataset__sidebar__container.left .models__container .title div span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.dataset__sidebar__container.left .models__container .title button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.dataset__sidebar__container.center {
  background-color: #e6e6e6;
  width: 50%;
  padding: 30px 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.dataset__sidebar__container.center .code__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.dataset__sidebar__container.center .code__container .code__container-header {
  width: 100%;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dataset__sidebar__container.center
  .code__container
  .code__container-header
  > span {
  margin: 0 0.3rem 0 auto;
}

.dataset__sidebar__container.center
  .code__container
  .code__container-header
  button {
  background: #00b594;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  width: 100px;
  transition: all 0.3s ease;
}
.code__container-header .addAsDataset_btn {
  color: #00b594 !important;
  border: 1px solid #00b594 !important;
  background: transparent !important;
  padding: 0px 15px !important;
  height: 30px;
  width: 200px !important;
  margin-right: 0.3rem;
  margin-left: auto;
}
.code__container-header .addAsDataset_btn:hover {
  background: #00b594 !important;
  color: #fff !important;
}
.code__container-header .startAnalysis_btn {
  padding: 0px 15px !important;
  height: 30px;
  width: 200px !important;
}
.code__container-header .startAnalysis_btn:hover {
  background: #25d6b6 !important;
}
.dataset__sidebar__container.center
  .code__container
  .code__container-header
  button:hover {
  background: #7e52d4;
}
.dataset__sidebar__container.center
  .code__container
  .code__container-header
  .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataset__sidebar__container.center
  .code__container
  .code__container-header
  .title
  img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}
.dataset__sidebar__container.center
  .code__container
  .code__container-header
  .title
  span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.dataset__sidebar__container.right {
  background: #faf8ff;
  width: 25%;
  padding: 30px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.dataset__sidebar__container.right .share__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 0 40px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.dataset__sidebar__container.right .share__container a {
  text-decoration: none;
  width: 100%;
  margin-bottom: 6px;
}
.dataset__sidebar__container.right .share__container button {
  display: flex;
  background: #00b594;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 10px;
  color: #fff;
  overflow: none;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%;
  margin-bottom: 6px;
  text-align: center !important;
  justify-content: center;
}
.dataset__sidebar__container.right .share__container button:hover {
  background: #4bdac0f1;
}
.dataset__sidebar__container.right .share__container button img {
  width: 17px;
  height: 13px;
  margin-right: 0.3rem;
}

.dataset__sidebar__container.right .share__container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.dataset__sidebar__container.right .share__container div h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 20px;
  padding-left: 10px;
  color: #c354b3 !important;
}
.dataset__sidebar__container.right .share__container div span {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  counter-reset: #555555;
}

.dataset__sidebar__container.right .Sources__container {
  padding: 20px 0 40px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.dataset__sidebar__container.right .Sources__container > span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  display: block;
}
.dataset__sidebar__container.right .Sources__container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dataset__sidebar__container.right .Sources__container > div span {
  color: #777777;
  font-size: 11px;
}

.dataset__sidebar__container.right .selectedColumns__container {
  padding: 0 0 40px 0;
}
.dataset__sidebar__container.right .selectedColumns__container .activeDataset {
  background-color: #eee7ff;
}

.code__container-datasetname-input {
  border: none;
  background-color: transparent;
  outline: none;
  width: fit-content;
}

.table__container::-webkit-scrollbar {
  background: #faf8ff;
  width: 5px;
  border: 1px rgb(104, 104, 104) solid;
}
.table__container::-webkit-scrollbar-thumb {
  background: #dddd;
  width: 100%;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
