.dataset_page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
}
.table__container {
  width: 100%;
  height: 35%;
  padding: 1rem 0 3rem;
  background: #faf8ff;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}
.table__container > .error,
.table__container > .message {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  font-weight: bold;
  color: #333;
}
.table__container > .error {
  color: #df3636;
}
.table__container table {
  width: 95%;
}
.dataset__container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 65%;
  position: relative;
  overflow: hidden;
  padding-bottom: 2rem;
}

.dataset__sidebar__container.left {
  background: #faf8ff;
  width: 25%;
  padding: 30px 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.dataset__sidebar__container.left .back-link__container {
  width: 100%;
  padding: 0 0 40px 0;
}
.dataset__sidebar__container.left .back-link__container a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.dataset__sidebar__container.left .back-link__container a img {
  margin-right: 0.5rem;
  width: 22px;
  height: 22px;
}
.dataset__sidebar__container.left .back-link__container a span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.dataset__sidebar__container.left .tables__container {
  padding-bottom: 30px;
}
.dataset__sidebar__container.left .tables__container .title {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataset__sidebar__container.left .tables__container .title img {
  margin-right: 0.5rem;
}
.dataset__sidebar__container.left .tables__container .title span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.dropdown .dropdownOption__Content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dataset__sidebar__container.left .models__container {
  padding-bottom: 30px;
}
.dataset__sidebar__container.left .models__container .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}
.dataset__sidebar__container.left .models__container .title div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataset__sidebar__container.left .models__container .title div img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 18px;
  height: 17px;
  margin-right: 0.5rem;
}
.dataset__sidebar__container.left .models__container .title div span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.dataset__sidebar__container.left .models__container .title button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.dataset__sidebar__container.center {
  background-color: #f5f5f5;
  width: 50%;
  padding: 30px 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.dataset__sidebar__container.center .code__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.dataset__sidebar__container.center .code__container .code__container-header {
  width: 100%;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dataset__sidebar__container.center
  .code__container
  .code__container-header
  button {
  background: #6034b6;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dataset__sidebar__container.center
  .code__container
  .code__container-header
  button:hover {
  background: #7e52d4;
}
.dataset__sidebar__container.center
  .code__container
  .code__container-header
  .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataset__sidebar__container.center
  .code__container
  .code__container-header
  .title
  img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}
.dataset__sidebar__container.center
  .code__container
  .code__container-header
  .title
  span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.dataset__sidebar__container.right {
  background: #faf8ff;
  width: 25%;
  padding: 30px 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.dataset__sidebar__container.right .share__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 40px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.dataset__sidebar__container.right .share__container button {
  display: flex;
  align-items: center;
  background: #00b594;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 10px;
  color: #fff;
  overflow: none;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.dataset__sidebar__container.right .share__container button:hover {
  background: #4bdac0f1;
}
.dataset__sidebar__container.right .share__container button img {
  width: 17px;
  height: 13px;
  margin-right: 0.3rem;
}

.dataset__sidebar__container.right .share__container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.dataset__sidebar__container.right .share__container div h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 20px;
  color: #000;
}
.dataset__sidebar__container.right .share__container div span {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  counter-reset: #555555;
}

.dataset__sidebar__container.right .Sources__container {
  padding: 20px 0 40px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.dataset__sidebar__container.right .Sources__container > span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  display: block;
}
.dataset__sidebar__container.right .Sources__container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dataset__sidebar__container.right .Sources__container > div span {
  color: #777777;
  font-size: 11px;
}

.dataset__sidebar__container.right .selectedColumns__container {
  padding: 20px 0 40px 0;
}
