.App {
  width: 100%;
 position: relative;
}
.dashboard__container {
  padding-top: 4.5rem;
}

.spinner__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.spinner__container p {
  margin: 0;
}

.spinner__body {
  border-radius: 10px;
  width: 20vw;
  height: 5vh;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.6);
}

.ant-popover-inner *,
.ant-popover-title {
  color: #fff !important;
}

*::-webkit-scrollbar {
  background: transparent;
  width: 3px;
  height:min-content;
}
*::-webkit-scrollbar-thumb {
  background-color: #dddd;
  border-radius: 5px;
}
