body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  font-family: "Lato", sans-serif !important;
}

:root {
  --c1: #080007; /* rgb(8,0,7) */
  --c2: #100722; /* rgb(16, 7, 34) */
  --c3: #fb1ee2; /* rgb(251, 30, 226) */
  --c4: #bbade3; /* rgb(187, 173, 227) */
  --c5: #3f0f8d; /* rgb(63, 15, 141) */
  --c6: #571eb3; /* rgb(87, 30, 179) */
  --c8: #38323f; /* rgb(56,50,63) */
  --c9: #6e31d0; /* rgb(110, 49, 208) */
  --c10: #04012d; /* rgb(4 ,1 ,45) */
  --c11: #700995; /* rgb(112 ,9 ,49) */
  --c12: #b300a1; /* rgb(179 ,0 ,161) */
  --c13: #7d2cff; /* rgb(125, 44, 255) */
  --c14: #ff00e5; /* rgb(255, 0, 229) */
  --cw: #ffffff; /* rgb(255, 255, 255) */
  --cg: color.adjust(--cw, $lightness: -10);
}
